<div class="container">
    <div>
        <app-navi></app-navi>
    </div>
    <div class="mt-1 row">
        <div class="col-md-3">
            <app-brand></app-brand>
            <app-color></app-color> 
        </div>
        <div class="col-md-9">
            <router-outlet></router-outlet>
        </div>        
    </div>

    <!--
    <div class="mt-1 row">
        <div class="col-md-12">
            <app-rental></app-rental>
        </div>        
    </div> 
    <div class="mt-0 row">       
        <div class="col-md-3">
            <app-brand></app-brand>
        </div>
        <div class="col-md-2">   
            <app-color></app-color>         
        </div>        
        <div class="col-md-7">   
            <app-customer></app-customer>    
        </div> 
    </div>
    <div class="mt-0 row">
        <div class="col-md-9">
            <app-car></app-car>
        </div>        
    </div>     
    -->

 </div>

 <!-- <app-car-detail></app-car-detail> -->
   
 <!-- <app-car-image></app-car-image> -->

 